
@charset "UTF-8";

.filterTitle {
    font-weight: bold;
    font-family: $nys-secondary-font;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 0px 0px 0px;
    color: #000;
}

.filterSectionHeader {
    padding: 10px 0px 10px 0px;
    font-weight: bold;
    font-family: $nys-primary-font;
    font-size: 16px;
    color: #000;
    line-height: 26px;
}


input[type=text], textarea {
    padding: 0.75rem;
    background-color: white;
    min-width: 20rem;
    border: 1px solid #999;
    font-size: 90%;
    line-height: 34px;
    margin: 1rem 0 2.5rem 0; 
    font-family: $nys-primary-font;
    
    &:focus {
        outline: 1px solid $ogs-primary-color;
        box-shadow: 0 0 3px $ogs-primary-color;
        border-color: $ogs-primary-color;
    }
}

label.ogs-input_text {
    font-weight: bold;
    display: flex;
    
}



input[type=checkbox] {
    margin: 10px 0px;
    border-radius: 0;
}

