
/* New York State Digital Service - OGS PAWS Portal data tables Stylesheet - JHSK 2020

*/


.ogs-table {
    font-family: "Proxima Nova", "Arial" , sans-serif;
    width: 100%;
    font-size: 14px;
}
.ogs-table th {
    background-color: $ogs-table-header;
    color: #fff;
    padding: 10px;
    
}
.ogs-table tr {
    border:1px #d3d3d3 solid;
    background-color: #fff;
}
.ogs-table tr:nth-child(odd) {
    background-color: $ogs-table-row-alternate;
}
.ogs-table td {
    padding: 10px;
}

@media screen and (max-width: 992px) {

.ogs-table tbody td:before {
    content: attr(data-th);
    display: inline-block;
    font-weight: bold;
    padding: 10px;
    width: 30%;
}



.ogs-table th {
    display: none;
}

.ogs-table td {
    display: inline-block;
    width: 100%;
}


}