
@charset "UTF-8";

.tab-content__area {
    img {
        padding: 5px 25px 10px 5px;
        float: left;
        clear: right;
    }

}

@media(max-width:768px) {

    .tab-content__area {
        img {
            object-fit: contain;
            width: 100%;        
        }
    
    }
}
