@charset "UTF-8";

.tab-content__area {
    font-family: $nys-primary-font;
    font-size: 18px;
    line-height: 27px;

    
    p {
    font-family: $nys-primary-font;
    font-size: 18px;
    line-height: 27px;
    
}

    li{
        margin: 4px 0;
        padding: 0;
    }

    a {
        color:$ogs-link-color;
    }

}



