@charset "UTF-8";

    
.homelink, a.homelink:hover, a.homelink:focus {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;        
}


.breadcrumb>li+li:before {
 
    color: $ogs-primary-color;
}

.breadcrumb > .active {
    color: $ogs-primary-color;
}

.breadcrumb > li {
    color: $ogs-primary-color;
}

.breadcrumb > li a, .breadcrumb > li a:hover {
    text-decoration: none;
    color: $ogs-primary-color;
}
