/* Archived @@@@@ */

/* ______START this is how the data tables work at responsive _____________________________________________*/
@media only screen
    and (max-width: 768px), (min-device-width: 768px)
    and (max-device-width: 768px)
    {


/* award search table _______________________________________________________________________________________*/
.ogs-table-award-search table, thead, tbody, th, td, tr {
            display: block;
        }
.ogs-table-award-search thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
.ogs-table-award-search td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 40%;
        }
.ogs-table-award-search td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 35%;
            padding-right: 10px;
            /*white-space: nowrap;*/
        }
.ogs-table-award-search   td:nth-of-type(1):before { content: "Award Title";  font-weight: bold; padding: 10px;}
.ogs-table-award-search   td:nth-of-type(2):before { content: "Award Number"; font-weight: bold; padding: 10px; }
.ogs-table-award-search   td:nth-of-type(3):before { content: "NYS Certifications"; font-weight: bold; padding: 10px; }
.ogs-table-award-search   td:nth-of-type(4):before { content: "eMarketplace"; font-weight: bold; padding: 10px; }
.ogs-table-award-search   td:nth-of-type(5):before { content: "Contract Type"; font-weight: bold; padding: 10px; }


/* Lots Table style ______________________________________________________________________________*/
.ogs-table-lots table, thead, tbody, th, td, tr {
            display: block;
        }
.ogs-table-lots thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
.ogs-table-lots td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 40%;
        }
.ogs-table-lots td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 35%;
            padding-right: 10px;
            /*white-space: nowrap;*/
        }
.ogs-table-lots   td:nth-of-type(1):before { content: "Lot Description";  font-weight: bold; padding: 10px;}
.ogs-table-lots   td:nth-of-type(2):before { content: "Lot Number"; font-weight: bold; padding: 10px; }


/* region table style _______________________________________________________________________________________*/
.ogs-table-regions table, thead, tbody, th, td, tr {
            display: block;
        }
.ogs-table-regions thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
.ogs-table-regions td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 40%;
        }
.ogs-table-regions td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 35%;
            padding-right: 10px;
            /*white-space: nowrap;*/
        }
.ogs-table-regions   td:nth-of-type(1):before { content: "Counties";  font-weight: bold; padding: 10px;}
.ogs-table-regions   td:nth-of-type(2):before { content: "Region"; font-weight: bold; padding: 10px; }

}
/* END data table responsiveness ___________________________________________________________*/
